{% extends 'base.html' %}
{% load static %}

{% block title %}
    My Blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock css_files %}

{% block content %}
    <section id='welcome'>
        <header>
            <img src="{% static 'blog/images/galon.jpg' %}" alt="Galon - The Author of This Blog"/>
            <h2>GALON STRUGGLING WITH SOFTWARE</h2>
        </header>
        <p>Hi, I'm Flavio Galon - a brazilian software engineer</p>
    </section>

    <section id='latest-posts'>
        <h2>My latest struggles</h2>
        <ul>
            {% include 'blog/includes/post.html' %}
        </ul>
    </section>

    <section id='about'>
        <h2>What I do</h2>
        <p>
            I really like to discover new things and tech and struggle trying to 
            learn them all.
        </p>
        <p>
            My goal is to register my struggles so I can laugh about them 
            in the future :)
        </p>
    </section>
{% endblock content %}